
/* ========================= layout ======================== */


body{
	
	background: url('img/capa.jpg');
	background-attachment: fixed;
	overflow-x: hidden;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 200;
		line-height: 1.65;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	
}
/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
	font-family: 'Russo One', sans-serif;
}

nav.navbar-transparente {
	padding: 10px 0px;
	background: rgba(0, 0, 0, 0);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.img-logo{
	padding: 10px 0px;
	color: white;
}
.img-logo:hover{
	color: #3ce55a;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-family: 'Russo One', sans-serif;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #3ce55a;
}
/* ========================= IMAGEM CAPA ======================== */
.capa{
display: table;
width: 100%;
height: 590px;
}


#title{
	text-shadow: 1px 3px 30px black;
	margin-top: 20px;
	font-size: 50px;
	font-family: 'Russo One', sans-serif;
}
.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}
/* ========================= SERVIÇOS ======================== */
#servicos{
	background: white;
	width: 100%;
	height: 70%;
	padding-top: 50px;
	padding-bottom: 100px;
	
}
.titulo{
    font-weight: 300;
    font-size: 25pt;
    font-family: 'lora', serif;
   
}
.titulo-sobre{
	font-size: 21px;
	font-weight: 600;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: #404040;
}
.skill{
	color: #a6a6a6;
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 23px;
}
.sub{
    font-size: 20pt;
    font-weight: 300;
    color: #a6a6a6;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.titulo-servicos{
	text-align: center
}
#Sobre{
	text-align: center;
}
.icones{

}
.icones:hover{

		transition: all 0.7s;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);		
}
/* ========================= SERVIÇOS ======================== */
#trabalhos{
	background: #f8f9fa;
	width: 100%;
	height: 70%;
	padding-top: 50px;
	padding-bottom: 100px;
}

.titulo-foto{
	background-color: red;
}
#jobs{
	text-align: center;

}
/*-- IMG SUPERMERCADO ONLINE -- */
.imagem-market{
	background-image: url('img/market.jpg');  
	height:300px;
	width:319px;
	background-size:100% auto;
	text-align: center;
	border-radius: 20px;
	background-repeat: no-repeat;
  }
/*-- IMG PIZZA  -- */
.imagem-pizza{
	background-image: url('img/pizza.jpg');  
	height:300px;
	width:319px;
	background-size:100% auto;
	text-align: center;
	border-radius: 20px;
	background-repeat: no-repeat;
}
/*-- IMG SANDUICHE  -- */
.imagem-sanduiche{
	background-image: url('img/sanduba.jpg');  
	text-align: center;
	height:300px;
	width:319px;
	background-size:100% auto;
	border-radius: 20px;
}
#espacamento-trabalhos{
	margin-top: 20px;
}

.avatar {

	display: inline-block;
	
}

.avatar img {
		display:block;
	}

.avatar img:hover{
transition: all 0.5s;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
box-shadow: 1px 3px 20px rgba(0,0,0,0.5);
}

  .texto{
	height:300px;
	width:319px;
	padding: 100px;
	font-family:Arial;
	text-align:center;
	color:white;
	opacity:0;
	transition: opacity .2s linear;
	background-color: rgba(39, 44, 110, 9);
	border-radius: 20px;
	
  }
  
  .imagem-market:hover .texto{
	opacity:1;
   }
   .imagem-pizza:hover .texto{
	opacity:1;
   }
   .imagem-sanduiche:hover .texto{
	opacity:1;
   }

/* ========================= MONSTRANDO IMAGEM ======================== */
   .mostrar-img{
	   width: 100%;
	   height: 300px;
   } 

/* ========================= TECNOLOGIA ======================== */   
.tecnologia{
	width: 100%;
	height: 500px;
	background-color: #333;
	font-weight: 900;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: white;
	text-shadow: 4px 5px 20px rgba(0,0,0,5);
} 

#center{
	text-align: center
}
/* ========================= Tipografia ======================== */
h1{
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 50px;
}
p{
	font-size: 20px;
}