
/* ========================= layout ======================== */

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

body{
	
	background: url('img/capa.jpg');
	background-attachment: fixed;
	overflow-x: hidden;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 200;
		line-height: 1.65;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	
}
nav.navbar-transparente {
	padding: 10px 0px;
	background: rgba(0, 0, 0, 0.1);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.img-logo{
	padding: 10px 0px;
	color: white;
}
.img-logo:hover{
	color: yellow;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: yellow;
}

/* ========================= Tipografia ======================== */
