/* ========================= layout ======================== */
html {
    height: 100%;
}
body{
	background: url('img/caps.jpg');
	background-attachment: fixed;
	overflow-x: hidden;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 200;
		line-height: 1.65;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	height: 100%;
}


/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('') no-repeat;
	background-size: contain;
	color: transparent;
	font-family: 'Russo One', sans-serif;
}

nav.navbar-transparente {
	padding: 10px 0px;
	background: rgba(0, 0, 0, 0);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.img-logo{
	padding: 10px 0px;
	color: white;
}
.img-logo:hover{
	color: yellow;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-family: 'Russo One', sans-serif;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: yellow;
}
/* ========================= IMAGEM CAPA ======================== */
.capa{
display: table;
width: 100%;
height: 590px;
}


#title{
	text-shadow: 1px 3px 30px black;
	margin-top: 20px;
	font-size: 50px;
	font-family: 'Russo One', sans-serif;
}
.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}
/* ========================= SERVIÇOS ======================== */
#servicos{
	background: #f8f9fa;
	padding-top: 10px;
	padding-bottom: 100px;
	
}
.titulo{
    font-weight: 300;
    font-size: 25pt;
    font-family: 'lora', serif;
   
}
.titulo-sobre{
	font-size: 21px;
	font-weight: 600;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: #404040;
}
.skill{
	color: #a6a6a6;
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 20px;
}
.sub{
    font-size: 16pt;
    font-weight: 300;
    color: #a6a6a6;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.titulo-servicos{
	text-align: center
}
#Sobre{
	text-align: center;
}
.icones{

}
.icones:hover{

		transition: all 0.7s;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);		
}
/* ========================= SERVIÇOS ======================== */
#trabalhos{
	background: white;
	padding-top: 10px;
	padding-bottom: 70px;
	width: auto;
}

.titulo-foto{
	background-color: red;
}
#jobs{
	text-align: center;
	cursor: pointer;

}
/*-- IMG SUPERMERCADO ONLINE -- */
.imagem-market{
	background-image: url('img/market.jpg');  
	height:300px;
	width:319px;
	background-size:100% auto;
	text-align: center;
	border-radius: 20px;
	background-repeat: no-repeat;
  }
/*-- IMG PIZZA  -- */
.imagem-pizza{
	background-image: url('img/pizza.jpg');  
	height:300px;
	width:319px;
	background-size:100% auto;
	text-align: center;
	border-radius: 20px;
	background-repeat: no-repeat;
}

/*-- IMG SANDUICHE  -- */
.imagem-sanduiche{
	background-image: url('img/sanduba.jpg');  
	text-align: center;
	height:300px;
	width:319px;
	background-size:100% auto;
	border-radius: 20px;
}
#espacamento-trabalhos{
	margin-top: 20px;
}

.avatar {

	display: inline-block;
	
}

.avatar img {
		display:block;
	}

.avatar img:hover{
transition: all 0.5s;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
box-shadow: 1px 3px 20px rgba(0,0,0,0.5);
}

  .texto{
	height:300px;
	width:319px;
	padding: 100px;
	font-family:Arial;
	text-align:center;
	color:white;
	opacity:0;
	transition: opacity .2s linear;
	background-color: rgba(39, 44, 110, 9);
	border-radius: 20px;
	
  }
  
  .imagem-market:hover .texto{
	opacity:1;
   }
   .imagem-pizza:hover .texto{
	opacity:1;
   }
   .imagem-sanduiche:hover .texto{
	opacity:1;
   }

/* ========================= MONSTRANDO IMAGEM ======================== */
   .mostrar-img{
	   width: 100%;
	   height: 300px;
   } 

/* ========================= TECNOLOGIA ======================== */   
#tecnologia{
	background: #f8f9fa;
	padding-top: 20px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	width: 100%;
} 

#center{
	text-align: center
}

/* ========================= LEGAL ======================== */   

#legal{
	background: white;
	padding-top: 20px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	width: 100%;
}

#color-letra{
	text-align: center;
}

#foto{
	text-align: center
}

/* ========================= CONTATO ======================== */   
#contato{
	background-color: #1d809f!important;
	color: white;
	padding-top: 50px;
	width: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	text-shadow: 4px 5px 20px rgba(0,0,0,5);
	
}
.mensagem{
	font-family: 'Lora', serif;
	text-align: center;
}
#boton{

	height: 50px;
	cursor: pointer;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	display: block;
	margin:auto;
	margin-top: 40px;
	text-align: center;
	font-size: 18px;

	text-shadow: 1px 1px 5px black
}
.btn-custom{

	color: white;
	border-radius: 500px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	font-weight: bold;
	transition: background 0.4s; color: 0.4s;
	font-size: 15px;
	text-align: center;
	padding-top: 14px;

}

.btn-roxo{
	background: #007bff;

}
.btn-roxo:hover{
	background: yellow;
	color: white;
	transition: all 0.6s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 6px 7px 15px rgba(0,0,0,0.5);

}

.tamanho-letra{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-shadow: 4px 3px 3px rgba(0,0,0,0.2);
}



/* ========================= RODAPÉ ======================== */
#rodape{
	background-color: #232121;
	color: white;
	padding-top: 20px;
	width: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	text-shadow: 4px 5px 20px rgba(0,0,0,5);
}

#bottom{
	padding-bottom: 30px;
	
}
#centroDown{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#conts{
	text-align: center;	
}
.nomeCompany{
	font-weight: 900;
	color: #40ccff;
}
.nomeCompany:hover{
	color: yellow;
	transition: all 0.5s;
}
.tamanho-icone{
	margin-top: 15px;
	width: 60px;
	height: 60px;
}
/* ========================= Tipografia ======================== */
h1{
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 50px;
}
p{
	font-size: 20px;
}
h2 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}

/* Media queries */
/* xs <768 */
@media screen and (max-width: 767px){

	h2{
		font-size: 35px;

	}

	p{
		font-size: 20px;
	}

	.skill{
		color: #a6a6a6;
		font-family: 'Lora', serif;
		text-align: center;
		font-size: 17px;
	}
	.sub{
		font-size: 14pt;
		font-weight: 300;
		color: #a6a6a6;
		font-family: 'Playfair Display', serif;
		text-align: center;
	}
	
	#foto{
		width: 200px;
		height: 200px;
		margin: auto;

	}
	.tamanho-jobs{
		width: 180px;
		height: 180px;;
	}

	#rodape{
		height: 25%;
	}

}

@media screen and (min-width: 768px){

	
	#foto{
		width: 400px;
		height: 400px;
		margin-right: 50px;

	}
	



#wares{
	float: right;
}	

}


@media screen and (min-width: 992px){

	
	#foto{
		width: 400px;
		height: 400px;

	}


#wares{
	float: right;
}	

	




}

@media screen and (min-width: 1200px){

	
	#foto{
		width: 400px;
		height: 400px;

	}

	#lg{
		margin-left: 100px;
	}



	#wares{
	float: right;
}	




}