/* ========================= layout ======================== */
html {
    height: 100%;
}
body{
	background: url('img/capa3.jpg');
	overflow-x: hidden;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 200;
	line-height: 1.65;
	background-position: top;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('') no-repeat;
	background-size: contain;
	color: transparent;
	font-size: 16px;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 1px;
}
#barra-navegacao{
	font-size: 16px;
	letter-spacing: 1px;
}


nav.navbar-transparente {
	padding: 10px 0px;
	background: rgba(0, 0, 0, 0);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.img-logo{
	padding: 10px 0px;
	color: white;
}
.img-logo:hover{
	color: #fff707;
	text-shadow: 1px 3px 30px black;
	transition: all 0.7s;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-family: 'Russo One', sans-serif;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #fff707;
	text-shadow: 1px 1px 5px black;
	transition: all 0.7s;
}
/* ========================= CAPA ======================== */
.capa{
display: table;
width: 100%;
height: 100%;
}
#capa-geral{
	display: table;
	width: 100%;
	height: 100%;
	}


#title{
	text-shadow: 1px 3px 30px black;
	letter-spacing: 3px;
	font-size: 35px;
	font-family: 'Russo One', sans-serif;
}
.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
	
}
#logo{
	font-size: 50px;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 5px;
	text-shadow: 1px 3px 30px black;
	margin-top: -100px;
	text-align: center;
}
#sistemas{
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 3px;
	text-shadow: 1px 3px 30px black;
	text-align: center;
}


/* ========================= SERVIÇOS ======================== */
#servicos{
	background: white;
	padding-top: 10px;
	padding-bottom: 100px;
	
}
.titulo{
    font-weight: bold;
    font-size: 30px;
    
   
}
.titulo-sobre{
	font-size: 20px;
	font-weight: 300;
	font-family: 'Russo One', sans-serif;
	color: #404040;
}
.color-descricao{
	color: white;
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 20px;
}
.color-nossolema{
	color: white;
	text-shadow: 4px 5px 20px rgba(0,0,0,0.3);
}

.skill{
	color: #a6a6a6;
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 20px;
}
.sub{
    font-size: 23px;
    font-weight: 300;
    color: #a6a6a6;
    font-family: 'Lora', serif;
    text-align: center;
}
.titulo-servicos{
	text-align: center
}
#Sobre{
	text-align: center;
}
.icones{

}
.icones:hover{

		transition: all 0.7s;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);		
}
/* ========================= SERVIÇOS ======================== */
#trabalhos{
	background: white;
	padding-top: 10px;
	padding-bottom: 70px;
	width: auto;
}

.titulo-foto{
	background-color: red;
}
#jobs{
	text-align: center;
	cursor: pointer;

}

/*-- IMG SUPERMERCADO ONLINE -- */
   .portfolio-item {
	display: block;
	position: relative;
	overflow: hidden;
	max-width: 530px;
	margin: auto auto 1rem;
	
  }
  
  .portfolio-item .caption {
	display: flex;
	height: 100%;
	
	background-color: rgba(33, 37, 41, 0.6);
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
  }
  .portfolio-item .caption:hover {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(33, 37, 41, 0.9);
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
			
	  
  }
  
  .portfolio-item .caption .caption-content {
	color: #fff;
	margin: auto 2rem 2rem;
  }
  
  .portfolio-item .caption .caption-content h4 {
	font-size: 20px;
	font-weight: 700 ;
	text-shadow: 1px 3px 20px black;
	font-family: 'Lora', serif;
	padding-top: 30px;
  }
  
  .portfolio-item .caption .caption-content p {
	font-weight: 400;
	font-size: 15px;
	text-shadow: 1px 3px 20px black;
	font-family: Arial, Helvetica, sans-serif;

  }
  

	.portfolio-item {
	  max-width: none;
	  margin: 0;
	}
	.portfolio-item .caption {
	  -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
	  -webkit-clip-path: inset(0px);
	  clip-path: inset(0px);
	}
	.portfolio-item .caption .caption-content {
	  transition: opacity 0.25s;
	  margin-left: 5rem;
	  margin-right: 5rem;
	  margin-bottom: 5rem;
	}
	.portfolio-item img {
	  -webkit-transition: -webkit-clip-path 0.25s ease-out;
	  -webkit-clip-path: inset(-1px);
	  clip-path: inset(-1px);
	}
	.portfolio-item:hover img {
	  -webkit-clip-path: inset(2rem);
	  clip-path: inset(2rem);
	}
	.portfolio-item:hover .caption {
		
	  background-color: rgba(52, 74, 110, 0.8);
	  -webkit-clip-path: inset(2rem);
	  clip-path: inset(2rem);
	}
  
	#up-img{
		margin-bottom: 20px;
	}
/* ========================= MONSTRANDO IMAGEM ======================== */
   .mostrar-img{
	   width: 100%;
	   height: 300px;
   } 

/* ========================= TECNOLOGIA ======================== */   
#tecnologia{
	background: #344a6e;
	padding-top: 20px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	width: 100%;
} 

#center{
	text-align: center
}

/* ========================= LEGAL ======================== */   

#compromisso{
	background: white;
	padding-top: 20px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	width: 100%;
}

.color-letra{
	text-align: center;
	margin-bottom: 100px;
	margin-top: 30px;
	
}

#foto{
	text-align: center
}

/* ========================= CONTATO ======================== */   
#contato{
	background-color: #344a6e;
	color: white;
	padding-top: 50px;
	width: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	text-shadow: 4px 5px 20px rgba(0,0,0,0.9);	
	text-align: center;
}

#number{
	font-family: 'Russo One', sans-serif;
	font-weight: 700;
	letter-spacing:3px;
	text-shadow: 4px 5px 20px rgba(0,0,0,0.6);
}

.mensagem{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 20px;
}
#boton{
	height: 50px;
	cursor: pointer;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	margin:auto;
	text-align: center;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 70px;
	text-shadow: 1px 1px 5px black;
	letter-spacing: 1px;
	text-decoration: none;
}
.btn-custom{

	color: white;
	border-radius: 500px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	font-weight: bold;
	transition: background 0.4s; color: 0.4s;
	font-size: 15px;
	text-align: center;
	

}

.btn-roxo{
	background: #ffc107;
	border: none;
	
}
.btn-roxo:hover{
	background: #d8a302;
	color: white;
	transition: all 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 6px 7px 15px rgba(0,0,0,0.5);

}


.tamanho-letra{
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2px;
	text-shadow: 4px 3px 3px rgba(0,0,0,0.2);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}



/* ========================= RODAPÉ ======================== */
#rodape{
	background-color: #232121;
	color: white;
	padding-top: 20px;
	width: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	text-shadow: 4px 5px 20px rgba(0,0,0,0.3);
	
}
#letra-contato{
	font-size: 60px;
	text-shadow: 4px 5px 20px rgba(0,0,0,0.4);
}
#curtapage{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 30px;
}
#copy{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}
#frase-stevejobs{
	font-size: 15px;
	font-weight: 700;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#btn{
	padding-bottom: 50px;
	
}
#centroDown{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#conts{
	text-align: center;	
}
.nomeCompany{
	font-weight: 900;
	color: white;
}
.nomeCompany:hover{
	color: yellow;
	transition: all 0.5s;
}
.tamanho-icone{
	margin-top: 15px;
	width: 60px;
	height: 60px;
}
/* ========================= Tipografia ======================== */
h1{
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 50px;
}
p{
	font-size: 20px;
}
h2 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}

h3{
	font-family: 'Russo One', sans-serif;
	
}
h4{
	font-family: 'Russo One', sans-serif;
	
}

/* ================================================== */

.nome-app{
	font-size: 20px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* Media queries */
/* xs <768 */
@media screen and (max-width: 767px){

	h2{
		font-size: 35px;

	}

	p{
		font-size: 20px;
	}
	h3{
		font-family: 'Russo One', sans-serif;
		font-size: 20px;
	}
	h4{
		font-family: 'Russo One', sans-serif;
		font-size: 17px;
		
	}
	#cell{
		width: 200px;
		height: 200px;
		margin: auto;	
	}
	.skill{
		color: #a6a6a6;
		font-family: 'Lora', serif;
		text-align: center;
		font-size: 17px;
	}
	.sub{
		font-size: 14pt;
		font-weight: 300;
		color: #a6a6a6;
		font-family: 'Playfair Display', serif;
		text-align: center;
	}
	.color-descricao{
		font-size: 17px;
	}
	.tamanho-letra{
		font-size: 28px;
	}
	.mensagem{
		font-size: 18px;
	}
	
	
	#foto{
		width: 200px;
		height: 200px;
		margin: auto;

	}
	.tamanho-jobs{
		width: 180px;
		height: 180px;;
	}


	#bottom{
		margin-top:20px;
	}

	#mediadown{
		padding-bottom: 20px;
	}

	.color-letra{
		text-align: center;
		margin-bottom: 30px;
		margin-top: 10px;
		
	}
	#logo{
		font-size: 24px;
	}
	#sistemas{
		font-size: 17px;
	}
	#title{
		font-size: 22px;
	}
	#posicaoImagem{
		margin-top: -40px;
		margin-bottom: 20px;
}
	

}

@media screen and (min-width: 768px){

	#foto{
		width: 400px;
		height: 400px;
		margin-right: 50px;
		
	}
	
	#cell{
		width: 200px;
		height: 200px;
		margin: auto;
		text-align: center;
	}

	#wares{
		float: right;
	}	
	#posicaoImagem{
		margin-top: -40px;
		margin-bottom: 20px;
}
	

}

@media screen and (min-width: 992px){
		
	#foto{
		width: 400px;
		height: 400px;

		}
		
	#wares{
		float: right;
	}	
	#posicaoImagem{
		margin-top: 100px;
}

}

@media screen and (min-width: 1200px){

	#lg{
		margin-left: 100px;
	}
	#foto{
		width: 300px;
		height: 300px;

	}
	
	#wares{
	float: right;
	}	

	
}

