/* ========================= LAYOUT ======================== */
html{
	height: 100%;
}

body{
	background-attachment: fixed;
	overflow-x: hidden;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 13pt;
	font-weight: 200;
	line-height: 1.65;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-color: #f8f9fa;
	height: 100%;
}
h2 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-shadow: 4px 3px 3px rgba(0,0,0,0.2);
}

/* ========================= MENU ======================== */

.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('') no-repeat;
	background-size: contain;
	color: transparent;
	font-family: 'Russo One', sans-serif;
}


nav.navbar-transparente {
	padding: 10px 0px;
	background: rgba(0, 0, 0, 0);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: black;
	margin: 16px 10px;
}

.img-logo{
	padding: 10px 0px;
	color: black;
}
.img-logo:hover{
	color: #1d809f;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
	font-family: 'Russo One', sans-serif;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #1d809f;
}

/* ========================= CONTEÚDO ======================== */
#boton{
	height: 50px;
	cursor: pointer;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	display: block;
	margin:auto;
	text-align: center;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-shadow: 1px 1px 5px black
}
.btn-custom{

	color: white;
	border-radius: 500px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	font-weight: bold;
	transition: background 0.4s; color: 0.4s;
	font-size: 15px;
	text-align: center;
	

}

.btn-roxo{
	background: #ffc107;
	border: none;

}
.btn-roxo:hover{
	background: #d8a302;
	color: white;
	transition: all 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 6px 7px 15px rgba(0,0,0,0.5);

}


#contato-page{
	text-align: center;
}


#foto{
	text-align: center
}
#number{
	color: #ffc107;
	font-weight: 900;
	letter-spacing:2px;
}

/* ========================= RODAPÉ ======================== */

#rodape{
	background-color: #232121;
	color: white;
	padding-top: 20px;
	width: 100%;
	height: 70%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	text-shadow: 4px 5px 20px rgba(0,0,0,5);
}

#bottom{
	padding-bottom: 20px;
	
}
#centroDown{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#centro{

	text-align: center;
	
}
.nomeCompany{
	font-weight: 900;
	color: #40ccff;
}
.nomeCompany:hover{
	color: yellow;
	transition: all 0.5s;
}
.tamanho-icone{
	width: 60px;
	height: 60px;
}
@media screen and (max-width: 767px){


	
	#foto{
		width: 200px;
		height: 200px;
		margin: auto;
		
			
	}

	

	h2 {
		font-size: 60px;

	}
	
}
@media screen and (min-width: 768px){

	
	
	#foto{
		width: 200px;
		height: 200px;
		margin: auto;
		text-align: center;
	}
	
}
@media screen and (min-width: 992px){

	#posicaoImagem{
		margin-top: 100px;
}
}

@media screen and (min-width: 1200px){

	#posicaoImagem{
		margin-top: 100px;
}
	#rodape{
		margin-top: 9%;
}

}
@media screen and (min-width: 1920px){
	
	#rodape{
		margin-top: 33%;
		height: 200px;
		text-align: center;
}
 #centroDown{
	 padding-top: 10px;
 }

}



